body {
    /* background-color: #3d1cc5; */
    background-color: #3d1cc5;
}

.card-body {
    /* background-color: #ab4f4f; */
    color:#ffffff;    
}



/* SE CON L HOVER SULLE CARD AUMENTO LA IDMENSIONE, HO PROBLEMI CON IL Z INDEX */

/* card hover, card selezionabile sono quelle su cui posso cliccarci sopra, voglio l hover solo per quelle */
.cardSelezionabile:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 400ms;
    /* durante la transizione però anche se ho alzato zindex si vede che va sotto */
    z-index: 100;  
}

.cardSelezionabile {
    transition: 400ms;
    /* z-index: 100; */
}






/* .my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
    background-color: #c8d727;
    color:#ffffff;
} */


/* lista canzoni scroll: queste classi servono per creare il div scrollabile per la lista delle canzoni */
/* .table-wrapper-scroll-y {
    display: block;
} */
.scrollabile {
    /* height:530px; */
    /* SCEGLIERE QUALE TRA LE DUE DIMENSIONI PER LE LISTE DI CANZONI */
    height:580px;
    overflow-y: scroll;


}


/* queste classi invece cambiano l estetica della scrollbar */

/* width */
#listaCanzoni ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#listaCanzoni ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle scrollbar */
#listaCanzoni ::-webkit-scrollbar-thumb {
    /* background: red; */
    background: #E4112F;
    /* background: #4a4747; */

    border-radius: 10px;
    /* transition: 400ms; */

}

/* Handle on hover scrollbar */
#listaCanzoni ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    /* transition: 1000ms; */
    

}


/* questa per il menu a tendina del logout, serve a spostarlo un po a sinistra */
nav ul li ul {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }





#rosso {
    /* background-color: #19085e; */
  background-color: #E4112F;
}
#rosso:hover {
    /* background-color: rgba(176, 10, 10, 0.865); */
  background-color: rgba(228, 17, 47, 0.7);

}

/* mi dava di default il colore grigio scuro altrimenti (forse per l altro foglio css?) */
h2, h3, h6{
    color:#ffffff;
}

/* questa classe serve solo per aggiungere un poco di spazio sopra l elemento */
.top-buffer { 
    margin-top: 50px; 
}
.top-buffer-l { 
    margin-top: 70px; 
}
.top-buffer-xl { 
    margin-top: 207px; 
}
.top-buffer-s { 
    margin-top: 20px; 
}

.right-buffer { 
    margin-right: 50px; 
}
.right-buffer-s { 
    margin-right: 20px; 
}
.left-buffer-s { 
    margin-left: 20px; 
}
.left-buffer-xs { 
    margin-left: 5px; 
}
.bottom-buffer { 
    margin-bottom: 50px; 
}
.bottom-buffer-s { 
    margin-bottom: 20px; 
}
.bottom-buffer-xs { 
    margin-bottom: 10px; 
}

#ricerca_homepage, #nuovaPlaylist {
    color :#ffffff;
    /* background-color: #3d1cc5;  potrei anche solo mettere bg-dark nella classe */

}


#registrazione {

    background-color: #121212;
}





/* PAGINA DEL LOGIN */

#login {
    display: flex;
    justify-content: center;
}

/* main {
    display: flex;
    justify-content: center;
} */

#linkRegistrati {
    color :#E4112F;
}
#linkRegistrati:hover {
    /* color: rgba(228, 17, 47, 0.7); */
    color :#ff3838;
    text-decoration: underline;
    
}



/* REGISTRAZIONE */

/* devo aggiungere il contorno al box dell input quando ci clicco sopra, sia qua, sia nei box del login */


/* album */

.link:hover{
    text-decoration: underline;
    transition: 400ms;

}


p {
    display:inline;
    font-size: 14px;
}

.nav-link {
    font-size: 16px;
    position: relative;
    display: inline-block;
  }


/* le prossime due servono per la conferma di cancellare una playlist */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: center; 
  /* position: fixed;  */
  z-index: 1; 
  width: 100%; 
  height: 100%;
  /* overflow: auto;  */
  background-color: #12121297;
  opacity: 9;
  padding-top: 50px; 
}
/* Modal Content/Box */
.modal-content {
  margin: 30% auto 15% auto;
  /* width: 35%; 
  height: 20%;
  background-color: #121212; */
  width: 100%; 
  height: 90%;
  background-color: #121212eb;
  position:fixed
}







/* QUESTI TRE SERVONO PER POTER METTERE LINK SOPRA LE CARD STRETCHED LINK */
.card {
    position: relative;
}
a.stretched-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} 
.second-link {
    /* required */
    position: relative;
    z-index: 3;
}





/* immagine dell artista consigliato nell homepage */
/* #artista#imgArtista:hover { */
#artista:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 400ms;
    z-index: 100;  
    
}


#artista {
    transition: 400ms;
}

#utente {
    background-color: #121212;
}