/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

@charset "UTF-8";
/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Galaxy - Personal Blog Template
VERSION:	v1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:wght@400;500&display=swap");
body {
  line-height: 1.65;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  /* font-size: 16px; */
}

body.loaded {
  overflow-y: scroll;
}

::-moz-selection {
  color: #ffffff;
  background-color: rgba(228, 17, 47, 0.7);
  text-shadow: none;
}

::selection {
  color: #ffffff;
  background-color: rgba(228, 17, 47, 0.7);
  text-shadow: none;
}

:focus {
  outline: 0;
}

.main-content {
  width: calc(100% - 340px);
}
@media (max-width: 991px) {
  .main-content {
    width: calc(100% - 250px);
  }
}
@media (max-width: 767px) {
  .main-content {
    width: 100%;
  }
}

.btn {
  font-size: 15px;
  padding: 10px 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  border-radius: 0;
  border: 0;
}
.btn img {
  margin-left: 5px;
  width: 19px;
  position: relative;
}
.btn:hover {
  color: #ffffff;
  background-color: rgba(228, 17, 47, 0.7);
}
.btn:active, .btn:focus {
  border: 0;
  color: #ffffff;
  background-color: rgba(228, 17, 47, 0.7);
  box-shadow: none;
}

.btn-primary {
  background-color: #E4112F;
}


/*=== UTILITIES CLASSES ===*/
.font-primary {
  font-family: "Barlow Condensed", sans-serif;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.04) !important;
}


.text-primary, .text-primary-onHover:hover {
  color: #E4112F !important;
}

.bg-dark {
  background-color: #1D1C21 !important;
}


h1, .h1, h2, .h2, h3, .h3, h4 {
  font-family: "Barlow Condensed", sans-serif;
}

h1, .h1 {
  font-size: 48px;
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: 38px;
  }
}

h2, .h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: 28px;
  }
}

h3, .h3 {
  font-size: 24px;
}
@media (max-width: 767px) {
  h3, .h3 {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 15px;
}

.h4, h5, .h5, h6, .h6, p {
  font-family: "Montserrat", sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin: 0;
}

a:focus,
button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: initial;
}

ol {
  list-style-position: inside;
}

ul, li {
  padding: 0;
  margin: 0;
}


/*------------------------------------------------------------------
 # preloader style
-------------------------------------------------------------------*/
.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  text-align: center;
  overflow: hidden;
  background-color: rgb(36, 39, 53);
  transition: 0.5s;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transition: 0.7s ease;
  transform: translate(-50%, -50%);
}

.preloader-wrapper.loaded {
  height: 0;
}
.preloader-wrapper.loaded img {
  opacity: 0;
}

/*------------------------------------------------------------------
 # sidenav/navbar style
-------------------------------------------------------------------*/
.sidenav {
  top: 0;
  width: 340px;
  min-height: 100vh;
  padding: 60px;
  transition: 0.3s ease;
}
.sidenav.show {
  left: 0;
}
@media (max-width: 991px) {
  .sidenav {
    width: 250px;
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .sidenav {
    position: fixed !important;
    z-index: 9995;
    top: 0;
    left: -250px;
    background-color: #1D1C21;
  }
}
.sidenav .navbar-brand img {
  max-width: 150px;
}
@media (max-width: 991px) {
  .sidenav .navbar-brand img {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .sidenav .navbar-brand img {
    max-width: 100px;
  }
}
.sidenav .nav-link {
  font-size: 20px;
  position: relative;
  display: inline-block;
}
.sidenav .nav-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #ffffff;
  left: 0;
  bottom: 13px;
  transition: 0.3s;
}
.sidenav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
.sidenav .nav-link:hover::after {
  width: 15px;
}
.sidenav .nav-link[aria-expanded=true],
.sidenav .active .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.sidenav .nav-link[aria-expanded=true]::after,
.sidenav .active .nav-link::after {
  width: 15px;
}
.sidenav select {
  background: url(../images/chevron-down.svg) no-repeat right 0.5rem center/15px 17px;
  border: 1px solid #ffffff !important;
  height: 30px;
  padding: 0 28px 0 10px;
  width: 80px;
  background-size: 14px;
}
.sidenav select:focus {
  border: 1px solid #ffffff !important;
}
.sidenav select option {
  background-color: #1D1C21;
}

.mobile-nav {
  display: none;
  position: relative;
  z-index: 9992;
}
@media (max-width: 767px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav img {
  width: 120px;
}
@media (max-width: 767px) {
  .mobile-nav img {
    width: 100px;
  }
}
.mobile-nav .nav-toggle {
  width: 40px;
  height: 40px;
  font-size: 13px;
  padding-top: 3px;
  border-radius: 50px;
}
.mobile-nav .nav-toggle.show .show,
.mobile-nav .nav-toggle .hidden {
  display: none;
}
.mobile-nav .nav-toggle.show .hidden {
  display: block;
}

.nav-toggle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: zoom-out;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.nav-toggle-overlay.show {
  opacity: 1;
  visibility: visible;
}


/*------------------------------------------------------------------
 # blog post style
-------------------------------------------------------------------*/
/* qua cè il css dei vari link che devo far diventare scritte normali di testo            !!!!!!!!!     */
.post-item .card-img-top {
  transition: 0.3s;
}
.post-item .card-img-top:hover {
  filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
}

.post-meta li a {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.post-meta li a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .border-lg-0 {
    border: 0 !important;
  }
}

.blockquote {
  padding: 50px 90px;
}
@media (max-width: 575px) {
  .blockquote {
    padding: 30px 50px !important;
  }
}



/*------------------------------------------------------------------
 # widget style
-------------------------------------------------------------------*/
.widget {
  margin-bottom: 50px;
}
.widget .form-control {
  font-size: 15px;
  color: #ffffff;
  height: 48px;
  border: 1px solid #2f2e35 !important;
}
.widget .form-control:focus {
  box-shadow: none !important;
}

.widget-title {
  border-bottom: 2px solid #E4112F;
  padding-bottom: 10px;
}



/*------------------------------------------------------------------
 # footer style
-------------------------------------------------------------------*/
footer {
  padding-top: 100px;
  padding-bottom: 30px;
}
footer ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-bottom: 15px;
}
footer ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}
footer ul li:last-child a {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */
